<h2>Each Product Page</h2>

<h3>This product is <%= @product[:name] %></h3>

<h4>The ID of this product is <%= @product[:id] %></h4>

<h4>The brand ID of this product is <%= @product[:brand_id] %></h4>

<h4>The category ID of this product is <%= @product[:category_id] %></h4>

<h4>The price of this product is <%= @product[:price] %></h4>
